html, body, #map_canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}

#panels {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
	font-size: 120%;
}

#map-canvas {
  margin-right: 400px;
}

div .adp-summary {
	font-size: 2em;
	display: inline-block;
 }

.adp-warnbox, .adp-agencies, .adp-legal, .adp-placemark { display: none; }